
<div class="row"> 
<div  class = "col-sm-6   ">
<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="form-group">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group" >
    <%= f.label :title, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-10">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
  </div>
<br>
  <div class="field form-group1">
    <%= f.label :description, class: 'col-sm-2 control-label'  %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
<br>
 
  <div class="field form-group">
    <%= f.label :price, class: 'col-sm-2 control-label'  %>
     <div class="col-sm-10">
    <%= f.text_field :price, class: 'form-control' %>
   
  </div>
  </div>

  
<br>
  <div class="field form-group">
    <%= f.label :category, class: 'col-sm-2 control-label'  %>
     <div class="col-sm-10">
    <%= f.text_field :category, class: 'form-control' %>
  </div>
  </div>
<br>
  <div class="field form-group">
    <%= f.label :subcategory, class: 'col-sm-2 control-label'  %>
     <div class="col-sm-10">
    <%= f.text_field :subcategory, class: 'form-control' %>
  </div>
  </div>
<br>
<div class="field form-group">
     <%= f.label :image_url, class: 'col-sm-2 control-label'  %>
     <%= f.file_field :image_url2, accept: 'image/png,image/gif,image/jpeg', onchange: 'myFunction(this.value)' %>
   
  </div>
 
  
<br>

  <div class="field form-group">
    <%= f.label :image_url, class: 'col-sm-2 control-label'  %>
     <div class="col-sm-10">
    <%= f.text_field :image_url, class: 'form-control' %>
  </div>
  </div>

<br>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit %>
  </div>
  </div>
<% end %>
</form>
</div>

<div class="col-sm-6">
  <div class="col-sm-10">
   
    <%= image_tag @product.image_url, :alt => "Google +", :title => "Google +"%>
   
  </div>
</div>

</div>



<script>
function myFunction(val) {
//document.getElementById("product_image_url").value = document.getElementById("product_image_url2").value;
text = document.getElementById("product_image_url2").value;
text2 = text.slice(text.lastIndexOf( /\\/.exec(text)))
    document.getElementById("product_image_url").value = text2.substr(1);
  
}
</script>